* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
}
header nav {
  background: #528fd5;
  overflow: hidden;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #75acec;
}

img {
  width: 300px;
}

.lugares,
.lugar_uno,
.lugar_dos,
.lugar_tres,
img h2 p {
  padding: 20px 20px;
}

.lugares {
  width: 50%;
  margin: auto;
}
.lugar_uno,
.lugar_dos,
.lugar_tres {
  background: #fff;
  margin: 30px 30px;
}

